<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark d-flex">
    <span class="col-sm-3"></span>
    <a class="navbar-brand col-sm-2" [routerLink]="['newBill']">New Bill</a>

    <a class="navbar-brand col-sm-2" [routerLink]="['product']">Products</a>

    <a class="navbar-brand col-sm-2" [routerLink]="['billHistory']">Bill History</a>
    <span class="col-sm-3"></span>

</nav> -->

<mat-toolbar color="primary">
        <mat-toolbar-row>
        <span>Seema Masala</span>
            <span class="example-fill-remaining-space"></span>
            <span class="align-center"></span>
            <span class="example-spacer"></span>
            <span class="col-sm-3"></span>
            <button class="col-sm-2" mat-button [routerLink]="['newBill']">New Bill</button>
            <button class="col-sm-2" mat-button [routerLink]="['product']">Products</button>
            <button class="col-sm-2" mat-button [routerLink]="['billHistory']">Bill History</button>
            <span class="col-sm-3"></span>
         </mat-toolbar-row>
         </mat-toolbar>
        